<!-- templates/auth/login.html -->
{% extends 'base.html' %}

{% block title %}Cordelia Lighting - Web App for Oracle{% endblock %}

{% block content %}

<div class="container-fluid">
  <hr>
  <div class="row mb-30">
    {% if user_access['read_access'] == 'Y' %}
    <div class="col-sm text-center">
      <a href="{{url_for('ont.orders')}}"><img src="{{url_for('static', filename='img/om.png')}}" alt=""><br />Order
        Organizer</a>
    </div>
    <div class="col-sm text-center">
      <a href="{{url_for('ont.weekly_advertisement')}}"><img src="{{url_for('static', filename='img/ad.png')}}"
          alt=""><br />Weekly Advertisement</a>
    </div>
    <div class="col-sm text-center">
      <a href="{{url_for('ont.customer_allowance')}}"><img src="{{url_for('static', filename='img/allowance.png')}}"
          alt=""><br />Customer Allowances</a>
    </div>
    {% endif %}

  </div>
  <div class="row mb-30">
    <div class="col-sm text-center">
      {% if user_access['read_access'] == 'Y' %}
      <a href="{{url_for('ont.item_led_expense')}}"><img src="{{url_for('static', filename='img/led.png')}}"
          alt=""><br />Item LED Expense</a>
      {% endif %}
    </div>

    <div class="col-sm text-center">
      {% if user_access['read_access'] == 'Y' %}
      <a href="{{url_for('ont.item_comp_shop')}}"><img src="{{url_for('static', filename='img/compshop.png')}}"
          alt=""><br />Item Comp Shop</a>
      {% endif %}
    </div>
    <div class="col-sm text-center">
      {% if user_access['read_access'] == 'Y' %}
      <a href="{{url_for('ont.customer_item_credit')}}"><img src="{{url_for('static', filename='img/credit.png')}}"
          alt=""><br />Customer Item Credit Memo</a>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock %}