<!-- templates/auth/login.html -->
{% extends 'base.html' %}

{% block title %}Cordelia Lighting - Web App for Oracle{% endblock %}

{% block content %}
    <h1>Your Data</h1>

    <h2>File Name: {{file_name}}.csv</h2>
    {{ data | safe }}
    <div class="mb-4">
    <a href="{{url_for('po.update_po_price', file_name=file_name)}}"><button class="btn btn-primary">Update PO Factory Cost</button></a>
    <a href="{{url_for('po.upload_po_price')}}"><button class="btn btn-secondary">Back to Upload</button></a>
    </div>
    <hr>
    <div>
    </div>
    {% endblock %}