<!-- templates/auth/login.html -->
{% extends 'base.html' %}

{% block title %}Cordelia Lighting - Web App for Oracle{% endblock %}

{% block content %}

<div class="container-fluid">
    <hr>
      <div class="row mb-30">
          {% if user_access['read_access'] == 'Y' %}
          <div class="col-sm text-center">
            <a href="{{url_for('inv.items')}}"><img src="{{url_for('static', filename='img/inv.png')}}" alt=""><br/>Item Inquiry</a>
          </div>
          {% endif %}
          {% if user_access['write_access'] == 'Y' %}
          <div class="col-sm text-center">
              <a href="{{url_for('inv.upload_item_description')}}"><img src="{{url_for('static', filename='img/update_description.png')}}" alt=""><br/>Update Item Description</a>
          </div>
          <div class="col-sm text-center">
            <a href="{{url_for('inv.upload_item_dim_weight')}}"><img src="{{url_for('static', filename='img/update_inv.png')}}" alt=""><br/>Update Item Dimension & Weight</a>
          </div>
          {% endif %}
      </div>
      <div class="row mb-30">
        <div class="col-sm text-center">
          
        </div>
        <div class="col-sm text-center">
            
        </div>
        <div class="col-sm text-center">
            
        </div>
    </div>
    </div>
  </div>
{% endblock %}