<!-- templates/auth/login.html -->
{% extends 'base.html' %}

{% block title %}Cordelia Lighting - Web App for Oracle{% endblock %}

{% block content %}
<h4>Your Uploaded Data</h4>

<h6>File Name: {{file_name}}.csv</h6>
{{ data | safe }}
<div class="mt-5">
    <a href="/upload"><button class="btn btn-secondary">Back to Upload</button></a>
    <a href="{{url_for('inv.update_item_description', file_name=file_name)}}"><button class="btn btn-primary">Update
            Description</button></a>

</div>
<hr>
<div>
</div>
{% endblock %}